<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Android QUINCE</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="icon" href="/icon.png">
        
    </head>
    <body>
        <div id="mobile-container">
            <div id="camera-container">
                <i id="camera" class="fas fa-circle"></i>
            </div>
            <div id="mobile-container-2">
                <div id="notification-bar">
                    
                    <span id="left-noti-bar">
                        <i class="noti-bar-icons fas fa-wifi"></i>
                        <i class="noti-bar-icons hide fab fa-bluetooth-b"></i>
                        <i class="noti-bar-icons hide fas fa-arrows-alt-v">H+</i>
                        <i class="noti-bar-icons hide fas fa-location-arrow"></i>
                    </span>
                    <span id="right-noti-bar">
                        
                        <i class="noti-bar-icons hide fas fa-bell-slash"></i>
                        <i class="noti-bar-icons hide fas fa-bolt"></i>
                        <i class="noti-bar-icons hide fas fa-adjust"></i>
                        <i class="noti-bar-icons fas fa-signal"></i>
                        <span id="battery-indicator">55</span>
                    </span>
                </div>